<div class="ui container">	
	<div class="card-panel red lighten-2">
		<center>
			<h1 class="ui huge header">Facturas</h1>
		</center>
		<br><br>
		<center>
			<button class="ui inverted black basic button" {{action 'goTo'}}>Crear Factura</button>
		</center>
		{{outlet}}
	</div>
</div>